<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon class="arrow-back" name="arrow-back-outline" routerLink="/" slot="start"></ion-icon>
    <ion-title>Mi inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="div-principal">

      <ion-item lines="none">
  
        <ion-grid>
  
          <ion-card>
            <ion-row id="registro-list">
              <ion-col>Imagen</ion-col>
              <ion-col>Marca</ion-col>
              <ion-col>Cantidad</ion-col>
              <ion-col>Accion</ion-col>
            </ion-row>
          </ion-card>
  
          <ion-card>
            <div id="square">
              <div id="row-section" *ngFor="let producto of inventarioList;">
                <ion-row class="ion-align-items-center" id="registro">
                  <ion-col *ngIf="producto.imagen == undefined; else imagen" size="3">
                    <p>No hay imágenes aún</p>
                  </ion-col>
                  <ng-template #imagen>
                    <ion-col size="3" class="col-element col-images">
                      <ion-grid>
                        <ion-row>
                          <ion-col class="col-image" size="5" *ngFor="let image of producto.imagen">
                            <img [src]="image.urlImage" alt="">
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ng-template>
                  <ion-col size="3" class="col-element">{{producto.marca}}</ion-col>
                  <ion-col size="3" class="col-element-cantidad">{{producto.cantidad}}</ion-col>
                  <ion-col size="3" class="col-element">
                    <ion-button (click)="inventarioService.populateForm(producto)" routerLink="/inventario-form">
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="isAdmin" (click)="onDelete(producto.$key)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
          </div>
          </ion-card>
          
          
        </ion-grid>
      </ion-item>
    </div>
    
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/inventario-form" (click)="newInventario()">
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
