<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" name="arrow-back-outline" routerLink="/" slot="start"></ion-icon>
    <!-- <img class="arrow-back" src="../../../../../assets//images/arrow-back-up.png" width="32px" routerLink="/" slot="start"> -->
    <ion-title>Mi inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="div-principal">

    <!-- <ion-input class="search" type="text" name="filterRegistro" placeholder="Search..." [(ngModel)]="filterRegistro"></ion-input> -->
  
      <ion-item>
  
        <ion-grid>
  
          <ion-card>
            <ion-row id="registro-list">
              <ion-col>Marca</ion-col>
              <ion-col>Archivos </ion-col>
              <ion-col>Cantidad</ion-col>
              <ion-col>Accion</ion-col>
            </ion-row>
          </ion-card>
  
          <ion-card>
            <div id="square">
              <div id="row-section" *ngFor="let producto of inventarioList;">
                <ion-row class="ion-align-items-center" id="registro">
                  <ion-col class="col-element">{{producto.marca}}</ion-col>
                  <!-- <ion-col>
                    <ion-button (click)="prueba(producto.imagen)">
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                  </ion-col> -->
                  <ion-col *ngIf="producto.imagen == undefined">
                    <p>No hay imágenes aún</p>
                  </ion-col>
                  <ion-col class="col-element col-image" *ngFor="let image of producto.imagen">
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <img [src]="image.urlImage" alt="">
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                  <ion-col class="col-element-cantidad">{{producto.cantidad}}</ion-col>
                  <ion-col class="col-element">
                    <ion-button (click)="inventarioService.populateForm(producto)" routerLink="/inventario-form">
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="isAdmin" (click)="onDelete(producto.$key)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </div>
          </div>
          </ion-card>
          
          
        </ion-grid>
      </ion-item>
    </div>
    
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/inventario-form" (click)="newInventario()">
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
