<ion-menu side="start" menuId="first" contentId="main"> 

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <ion-item routerLink="/account" (click)="homePage.onSubmit()">
        <ion-icon name="person-circle-sharp"></ion-icon>
        Perfil
      </ion-item>
      <!-- <ion-item routerLink="/pay" (click)="homePage.onSubmit()">
        <ion-icon name="cash-outline"></ion-icon>
        Métodos de pago
      </ion-item> -->
      <div *ngIf="isTecnico || isAdmin">
        <ion-item routerLink="/mis-rutas" (click)="homePage.onSubmit()">
          <ion-icon name="browsers-outline"></ion-icon>
          Mis Rutas
        </ion-item>
      </div>
      <div *ngIf="isAdmin">
        <ion-item routerLink="/rutas" (click)="homePage.onSubmit()">
          <ion-icon name="browsers-outline"></ion-icon>
          Rutas
        </ion-item>
      </div>
      <div *ngIf="isAdmin">
        <ion-item routerLink="/inventario" (click)="homePage.onSubmit()">
          <ion-icon name="file-tray-stacked-outline"></ion-icon>
          Inventario
        </ion-item>
        <ion-item routerLink="/usuarios" (click)="homePage.onSubmit()">
          <ion-icon name="body-outline"></ion-icon>
          Permisos
        </ion-item>
      </div>
    </ion-list>

  </ion-content>

  <ion-footer>

    <ion-list>
      <ion-item>
        <ion-button routerLink="/login" (click)="homePage.onSubmitSignOut()">Cerrar sesion</ion-button>
      </ion-item>
    </ion-list>

  </ion-footer>

</ion-menu>


