<!-- <app-layout></app-layout> -->

<ion-content id="main">
    <ion-tabs>

        <ion-tab-bar slot="bottom" [translucent]="true">
        <ion-tab-button tab="inventario" layout="icon-top">
            <ion-icon name="file-tray-stacked"></ion-icon>
            <ion-label>Inventario</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="rutas" layout="icon-top">
            <ion-icon name="albums"></ion-icon>
            <ion-label>Rutas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="" layout="icon-top" (click)="servicesService.insertServicioCopy()">
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="charts" layout="icon-top">
            <ion-icon name="pie-chart"></ion-icon>
            <ion-label>Estadísticas</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="account" layout="icon-top" class="tab-trash">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>
        </ion-tab-bar>
  
  </ion-tabs>
</ion-content>




