<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" name="arrow-back-outline" routerLink="/" slot="start"></ion-icon>
    <!-- <img class="arrow-back" src="../../../../../assets//images/arrow-back-up.png" width="32px" routerLink="/" slot="start"> -->
    <ion-title>
      Editar perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <form [formGroup]="usersService.userForm" (ngSubmit)="onSubmitUpdate(this.usersService.userForm.value)">
      <img class="photo" [src]="photoUrl" width="250px">
    
      <ion-list>
        <ion-item >
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [value]="name" formControlName="name"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [value]="email" formControlName="email" [disabled]="true"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <ion-label position="floating">Numero celular</ion-label>
          <ion-input [value]="phoneNumber" formControlName="phoneNumber"></ion-input>
        </ion-item> -->
      </ion-list>
      <!-- <ion-item>
        <ion-label>Toggle</ion-label>
        <ion-toggle slot="end" checked></ion-toggle>
      </ion-item> -->
      <ion-button type="onSubmitUpdate(this.usersService.userForm.value)">Guardar</ion-button>
  </form>
  </div>
</ion-content>
